<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="//static.clewm.net/static/images/favicon.ico" mce_href="//static.clewm.net/static/images/favicon.ico" type="image/x-icon">
  <title>二维码管理中心</title>
  <style type="text/css">
  .ie_hack_content {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .ie_hack_content p {
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-top: 240px;
    margin-bottom: 32px;
  }
  .ie_hack_content a {
    text-decoration: none;
    font-size: 32px;
    margin: 0 8px;
  }
  .ie_hack_content .ie_hack_content_a {
    text-align: center;
  }
  </style>
  <!--[if lte IE 9]>
    <script>
      document.write("<div class='ie_hack_content'>"+
      "<p>你的浏览器版本过旧,请升级你的浏览器</p>"+
      "<div class='ie_hack_content_a'><a href='https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8%E4%B8%8B%E8%BD%BD' target='_blank'>去下载新版浏览器</a><a href='javascript:window.history.back();'>返回上级</a></div>"+
      "</div>");
    </script>
  <![endif]-->
  <script>
/* eslint-disable */
  if (window.ActiveXObject) {
    var reg = /10\.0/;
    var str = navigator.userAgent;
    // IE 10
    if (reg.test(str)) {
      document.write("<div class='ie_hack_content'>"+
      "<p>你的浏览器版本过旧,请升级你的浏览器</p>"+
      "<div class='ie_hack_content_a'><a href='https://www.baidu.com/s?ie=utf-8&f=8&rsv_bp=0&rsv_idx=1&tn=baidu&wd=%E8%B0%B7%E6%AD%8C%E6%B5%8F%E8%A7%88%E5%99%A8%E4%B8%8B%E8%BD%BD' target='_blank'>去下载新版浏览器</a><a href='javascript:window.history.back();'>返回上级</a></div>"+
      "</div>");
    };
  }
  </script>
</head>
<body>
  <div id="root"></div>
</body>
<!--百度统计-->
<script>
/* eslint-disable */
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?cb508e5fef81367bfa47f4ec313bf68c";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--谷歌统计-->
<script src="//static.clewm.net/public/cli_analytics.js"></script>
</html>
